[submodule "aappleby.github.io"]
	path = aappleby/aappleby.github.io
	url = https://github.com/aappleby/aappleby.github.io
[submodule "matcheroni"]
	path = aappleby/matcheroni
	url = https://github.com/aappleby/matcheroni
[submodule "metroboy"]
	path = aappleby/metroboy
	url = https://github.com/aappleby/metroboy
[submodule "metron"]
	path = aappleby/metron
	url = https://github.com/aappleby/metron
[submodule "metronica"]
	path = aappleby/metronica
	url = https://github.com/aappleby/metronica
[submodule "picorvd"]
	path = aappleby/picorvd
	url = https://github.com/aappleby/picorvd
[submodule "pinwheel"]
	path = aappleby/pinwheel
	url = https://github.com/aappleby/pinwheel
[submodule "plait"]
	path = aappleby/plait
	url = https://github.com/aappleby/plait
[submodule "rv32iboy"]
	path = aappleby/rv32iboy
	url = https://github.com/aappleby/rv32iboy
[submodule "smhasher"]
	path = aappleby/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "wideboard"]
	path = aappleby/wideboard
	url = https://github.com/aappleby/wideboard
[submodule "metrolib"]
	path = aappleby/metrolib
	url = https://github.com/aappleby/metrolib
[submodule "CLI11"]
	path = github/CLIUtils/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "emsdk"]
	path = github/emscripten-core/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "glm"]
	path = github/g-truc/glm
	url = https://github.com/g-truc/glm
[submodule "icestorm"]
	path = github/YosysHQ/icestorm
	url = https://github.com/YosysHQ/icestorm
[submodule "imgui"]
	path = github/ocornut/imgui
	url = https://github.com/ocornut/imgui
[submodule "iverilog"]
	path = github/steveicarus/iverilog
	url = https://github.com/steveicarus/iverilog
[submodule "nextpnr"]
	path = github/YosysHQ/nextpnr
	url = https://github.com/YosysHQ/nextpnr
[submodule "yosys"]
	path = github/YosysHQ/yosys
	url = https://github.com/YosysHQ/yosys
[submodule "verilator"]
	path = github/verilator/verilator
	url = https://github.com/verilator/verilator
[submodule "gbmicrotest"]
	path = aappleby/gbmicrotest
	url = https://github.com/aappleby/gbmicrotest
[submodule "SDL"]
	path = github/libsdl-org/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "gb-live32"]
	path = github/Gekkio/gb-live32
	url = https://github.com/Gekkio/gb-live32
[submodule "json"]
	path = github/nlohmann/json
	url = https://github.com/nlohmann/json
[submodule "sdram-tang-nano-20k"]
	path = github/nand2mario/sdram-tang-nano-20k
	url = https://github.com/nand2mario/sdram-tang-nano-20k
[submodule "prjtrellis"]
	path = github/YosysHQ/prjtrellis
	url = https://github.com/YosysHQ/prjtrellis
[submodule "fujprog"]
	path = github/kost/fujprog
	url = https://github.com/kost/fujprog
[submodule "ibex"]
	path = github/lowRISC/ibex
	url = https://github.com/lowRISC/ibex
[submodule "sv2v"]
	path = github/zachjs/sv2v
	url = https://github.com/zachjs/sv2v
[submodule "picorv32"]
	path = github/YosysHQ/picorv32
	url = https://github.com/YosysHQ/picorv32
[submodule "gcc"]
	path = github/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "hancho"]
	path = aappleby/hancho
	url = https://github.com/aappleby/hancho
        branch = .
[submodule "ZoomyTrace"]
	path = aappleby/zoomytrace
	url = https://github.com/aappleby/ZoomyTrace
[submodule "tempus"]
	path = aappleby/tempus
	url = http://github.com/aappleby/tempus
